<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tradr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon_io-2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon_io-2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon_io-2/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
<body>
  <header>
    <!-- First Navbar -->
    <nav class="navbar bg-light" id="navacc">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <h1 id="tradr">
            <span>Tradr</span>
            <div class="message">
              <div class="word1">Buy</div>
              <div class="word2">Sell</div>
              <div class="word3">Trade</div>
            </div>
          </h1>
        </a>
        <form class="d-flex justify-content-center" role="search">
          <input id="item-input" class="form-control me-2" type="search" placeholder="Search for items" aria-label="Search" style="width: 450px;">
          <button class="btn btn-outline-success" id="search-btn" type="submit">Search</button>
        </form>
        <ul class="d-flex">
            {{#if logged_in}}

          <a class="nav-link disabled">Hello<p><span style="text-transform: capitalize;">{{name}}</span>,</p></a>

          <div class="dropdown container">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 10px;">
              Your account
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item homedropdown" href="/dashboard">Dashboard</a></li>
              <li><a class="dropdown-item homedropdown" href="/dashboard/purchases">Purchases</a></li>
              <li><a class="dropdown-item homedropdown" href="/dashboard/createlisting">Create a listing</a></li>
              <li><a class="dropdown-item homedropdown" href="#" id="logout-btn"><i class="bi bi-escape"></i> Signout</a></li>
            </ul>
          </div>
          <a class="navbar-brand" href="/api/wishlist" style="margin-top: 5px; margin-left: 2px;"><i class="fa-solid fa-heart"></i> wishlist</a>
          {{else}}
          <a class="navbar-brand active btn" href="/signup" style="margin-top: 5px;">Signup</a>
          <a class="navbar-brand active btn btn-primary" href="/login" style="margin-top: 5px;">Login</a>
          <a id="wishlist" class="navbar-brand" href="/login" style="margin-top: 5px; margin-left: 2px;"><i class="fa-solid fa-heart"></i> wishlist</a>
          {{/if}}
          <a class="navbar-brand" href="/api/cart" style="margin-top: 5px; margin-left: 2px;"><i class="bi bi-cart4"></i> Your basket</a>
        </div>
      </div>
    </nav>
    <!-- End of first Navbar -->

    <!-- Second Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark" id="secondnav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: white; font-size: 1.5rem;">Homepage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-left: 50px;">
              <a class="nav-link active" href="/category/3" style="color: white; font-size: 1.3rem;">Clothing</a>
            </li>
            <li class="nav-item" style="margin-left: 20px;">
              <a class="nav-link active" href="/category/2" style="color: white; font-size: 1.3rem;">Shoes</a>
            </li>
            <li class="nav-item" style="margin-left: 20px;">
              <a class="nav-link active" href="/category/4" style="color: white; font-size: 1.3rem;">Accessories</a>
            </li>
            <li class="nav-item" style="margin-left: 20px;">
              <a class="nav-link active" href="/category/5" style="color: white; font-size: 1.3rem;">Beauty</a>
            </li>
            <li class="nav-item" style="margin-left: 20px;">
              <a class="nav-link active" href="/category/7" style="color: white; font-size: 1.3rem;">Homeware</a>
            </li>
            <li class="nav-item" style="margin-left: 20px;">
              <a class="nav-link active" href="/category/1" style="color: white; font-size: 1.3rem;">Electronics</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of second Navbar -->
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <nav class="navbar bg-warning" id="navacc">
      <div class="container-fluid">
        <!-- about, contact, terms and privacy -->
        <ul class="d-flex">
          <a class="navbar-brand" href="/aboutus" style="margin-top: 5px;">About us</a>
          <a class="navbar-brand" href="/contactus" style="margin-top: 5px;">Contact us</a>
          <a class="navbar-brand" href="/terms" style="margin-top: 5px; margin-left: 2px;">Terms</a>
          <a class="navbar-brand" href="/privacy" style="margin-top: 5px; margin-left: 2px;">Privacy</a>
        </ul>
        <!-- socials -->
        <ul class="d-flex">
          <a class="navbar-brand" href="/" style="margin-top: 5px; margin-left: 5px;"><i class="bi bi-twitter"></i></a>
          <a class="navbar-brand" href="/" style="margin-top: 5px; margin-left: 5px;"><i class="bi bi-instagram"></i></a>
          <a class="navbar-brand" href="/" style="margin-top: 5px; margin-left: 5px;"><i class="bi bi-facebook"></i></a>
        </ul>
      </div>
    </nav>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0ca80f36f5.js" crossorigin="anonymous"></script>
 
 {{#if logged_in}}
  <script src="/js/logout.js"></script>
 {{/if}}
  <script src="/js/search.js"></script>
  
</body>
</html>