<div class="header" style="margin-top: 5%; margin-bottom: 2%; font-family: Nunito, sans-serif; font-size: 1.2rem; font-weight: 600;">ACTIVE lISTINGS</div>
<div class="row parent-row">
  {{#each products}}
      <div class="col-lg-4 col-md-6 col-sm-12 product-container-dashboard">
        <div class="row active-listing">
            <p class="active-listing-title">ACTIVE LISTING</p>
            <hr>
        </div>
        <div class="row">
            <div class="col product-image">
                <img class="product-image-sizing" src="https://media.4rgos.it/s/Argos/tuc140625694_R_SET?w=270&h=366&qlt=75&fmt.jpeg.interlaced=true" alt="bag">
            </div>
            <div class="col product-details-active-listing">
                <h2 class="product-title">Product Name</h2>
                <p class="product-price">£28.00</p>
                <p class="product-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
        <div class="row btn-row">
            <hr>
            <button type="submit" class="btn btn-dark btn-styling edit-btn">EDIT</button>
            <button type="submit" class="btn btn-dark btn-styling delete-btn">DELETE</button>
        </div>
      </div>
    {{/each}}
  <!--EACH INDIVIDUAL ITEM ENDS HERE --> 
</div>