<div class="contactUs">
  <h2>Contact us</h2>
  <form>
    <div class="form-group">
      <label for="yourName">Your name</label>
      <input class="form-control" id="yourName" placeholder="Your full name" />
    </div>
    <div class="form-group">
      <label for="yourEmail">Email address</label>
      <input
        type="email"
        class="form-control"
        id="yourEmail"
        placeholder="your@email.com"
      />
    </div>
    <div class="form-group">
      <label for="yourMessage">Message</label>
      <textarea class="form-control" id="yourMessage" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary form-group">Submit</button>
  </form>
</div>

<script src="/js/contact.js"></script>