<div class="createcont" style="background: #018749;">
    <h2 class="createheading">Add Address</h2>
    <br>
    <form class="new-address-form" >
        <div class="col-12">
           <label for="inputAddress" class="form-label">Address line 1</label>
           <input id="add1" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address line 2</label>
            <input id="add" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input id="city" type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
            <label for="inputCounty" class="form-label">County</label>
            <input id="county" type="text" class="form-control" id="inputCounty">
        </div>
        <div class="col-md-2">
            <label for="inputPostcode" class="form-label">Postcode</label>
            <input id="post-code" type="text" class="form-control" id="inputPostcode">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" id="create-add" style="margin-top: 5%;">Submit</button>
        </div>
    </form>
</div>

<script src="/js/newadd.js"></script>