
<div class="createcont">
    <h2 class="createheading">Create a new listing</h2>
    <br>
    <form class="new-listing-form" >
        <div class="mb-3">
            <label for="product_name" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="product_name" placeholder="Insert your product title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Product description</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
        <div class="row" id="price-qty-cont">
            <div class="col">
                <label for="product_price" class="form-label">Price</label>
                <input type="number" class="form-control" id="product_price" placeholder="price in £">
            </div>
        </div>
        <select class="form-select" aria-label="select-category" style="margin-bottom: 3%;" id="category">
            <option selected disabled>Category</option>
            <option value="3">Clothing</option>
            <option value="2">Shoes</option>
            <option value="4">Accessories</option>
            <option value="5">Beauty</option>
            <option value="7">Homeware</option>
            <option value="6">Garden</option>
            <option value="1">Electronics</option>
        </select>
        <div class="mb-3">
            <label for="image" class="form-label">Image link</label>
            <textarea class="form-control" id="image" rows="3" placeholder="Please enter an Image url"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="create-btn">Submit</button>
    </form>
</div>
<br>

<script src="/js/create.js"></script>