<div class="hero">
    <a href="/allproducts" class="btn btn-outline-dark" aria-current="page" id="productbtn">View Products</a>
</div>
<h2 id="featured">Feature Products</h2>
{{#if featured}}
<div class="bg-col-white">
    <div class="container text-center">
       <!-- <h1 class="current-page-text">RECENTLY ADDED</h1> -->
        <div class="row parent-row-image-only">
            <!---EACH INDIVIDUAL ITEM STARTS HERE-->
            {{#each products as |product| (limit product 4)}}
            <div class="col-lg-2 col-md-4 col-sm-6 product-container2" style="margin-bottom: 20px;">
                <div class="row">
                    <div class="col product-overview">
                        <a href="/product/:id"><img class="product-image-sizing" src="https://media.4rgos.it/s/Argos/tuc140625694_R_SET?w=270&h=366&qlt=75&fmt.jpeg.interlaced=true" alt="bag"></a>
                        <a href="/product/:id" style="text-decoration: none; color: black;"><h2 class="product-title2" id="fttitle">Product Name</h2></a>
                        <p class="product-price">£{{product.price}}</p>
                        <button type="submit" class="btn btn-dark btn-styling2">Add to Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
            <!---EACH INDIVIDUAL ITEM ENDS HERE-->
        </div>
    </div>
</div>
{{/if}}

<h2 id="AllProducts">All Products</h2>
  <div class="bg-col-white">
    <div class="container text-center">
        <div class="row parent-row-image-only">
            <!---EACH INDIVIDUAL ITEM STARTS HERE-->
            {{#each products as |product|}}
            <div class="col-lg-2 col-md-4 col-sm-6 product-container2" style="margin-bottom: 20px;" id="ftproduct">
                <div class="row">
                    <div class="col product-overview">
                        <a href="/product/:id"><img class="product-image-sizing" src="https://media.4rgos.it/s/Argos/tuc140625694_R_SET?w=270&h=366&qlt=75&fmt.jpeg.interlaced=true" alt="bag"></a>
                        <a href="/product/:id" style="text-decoration: none; color: black;"><h2 class="product-title2" id="fttitle">Product Name</h2></a>
                        <p class="product-price">£28.00</p>
                        <button type="submit" class="btn btn-dark btn-styling2">Add to Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
            <!---EACH INDIVIDUAL ITEM ENDS HERE-->
        </div>
    </div>
</div>

