<div class="bg-col-white">
    <div class="container text-center">
        <h1 class="current-page-text">RECENTLY ADDED</h1>
        <div class="row parent-row-image-only">
            <!---EACH INDIVIDUAL ITEM STARTS HERE-->
            <div class="col-lg-2 col-md-4 col-sm-6 product-container2">
                <div class="row">
                    <div class="col product-overview">
                        <img class="product-image-sizing" src="https://media.4rgos.it/s/Argos/tuc140625694_R_SET?w=270&h=366&qlt=75&fmt.jpeg.interlaced=true" alt="bag">
                        <h2 class="product-title2">Product Name</h2>
                        <p class="product-price">£28.00</p>
                        <button type="submit" class="btn btn-dark btn-styling2">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!---EACH INDIVIDUAL ITEM ENDS HERE-->
        </div>
    </div>
</div>

