<div class="bg-col-white">
    <div class="container text-center">
        <div class="row parent-row">
            <!---sign up page-->
            <form class="signup-parent">
                <div class="col-10 product-container-dashboard">
                    <div class="row active-listing">
                        <p class="active-listing-title">SIGN UP</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col input-form">
                            <label for="fName" class="name-header-text">First name:</label>
                            <input type="fname" class="form-control" id="inputFName" placeholder="Enter first name">
                            <label for="lName" class="name-header-text">Last name:</label>
                            <input type="lname" class="form-control" id="inputLName" placeholder="Enter last name">
                            <label for="inputEmail" class="email-header-text">Email address:</label>
                            <input type="email" class="form-control" id="inputEmail2" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            <label for="inputPassword" class="password-header-text">Password:</label>
                            <input type="password" class="form-control" id="inputPassword2" placeholder="Enter password">
                            <small id="passwordHelp" class="form-text text-muted">Minimum password length: 8 characters.</small>
                        </div>
                    </div>
                    <div class="row btn-row">
                        <hr>
                        <button type="submit" class="btn btn-dark btn-styling login-btn">SIGN UP</button>
                    </div>
                </div>
            </form>
            <!---sign up page end-->
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>