<div class="terms" style="margin-bottom: 10%;">
  <h2>Terms & Conditions</h2>
  <hr />
  <p>
    Please read these Terms & Conditions carefully before accessing the TRADR
    website or using the services offered by TRADR through this website. You
    should print a copy of these Terms for future reference.
    <br />
    <br />
    If you object to any of the terms and conditions of this Agreement or any
    subsequent modifications to them or become dissatisfied with your use of the
    website in any way, you may: a) discontinue your use of the website; and b)
    close your virtual account (“Account”) by notifying us in writing by email
    or otherwise (see contact information below). No other remedy, legal or
    otherwise, is available to you save for a) and b) mentioned above.
    <br />
    <br />
    <b>BY CONTINUING TO USE THE WEBSITE YOU GIVE EXPLICIT CONSENT THAT YOU
      ACCEPT THESE TERMS & CONDITIONS IN FULL.</b>
    <br />
    <hr />
    <br />
    <ol>
      <li><b>Seller account:</b>
        To create a seller you need to register with TRADR by providing
        information on the
        <b>Signup</b>
        section. If your account is approved, you will be able to create
        listings immediately.</li>
      <li><b>Listing items:</b>
        You can list items under certain categories. You cannot list any items
        that is legally prohibited to sell.
        <b>IT IS SOLEY YOUR RESPONSIBILITY TO SELL 100% LEGITIMATE ITEMS ON
          TRADR PLATFORM.</b></li>
      <li><b>Buying on TRADR:</b>
        You do not need to create an account to buying items on TRADR platform,
        however, you will need to pay the seller before the item is dispatched
        to you.</li>
      <li><b>Account monitoring:</b>
        TRADR reserves the rights to monitor all account activity. Should TRADR
        find any account trying to sell any prohibited item or in breach of any
        of the TRADR policies, the account will be suspended permenently.</li>
      <li><b>Complaints:</b>
        Should you have any complaints against any seller or buyer, you can
        notify TRADR using the
        <b>Contact us</b>
        form.</li>
    </ol>
    These Terms & Conditions are subject to be reviewed at any time without any
    notice. It is your responsibility to make sure you comply with current Terms
    & Conditions.
  </p>
  <br />
  <hr />
  <br />
</div>